//Primary colours

$instock-black: #13182c;
$instock-indigo: #2e66e5;
$white: #ffffff;

//Secondary colours

$slate: #5c667e;
$cloud: #bdc5d5;

//Background colours

$light-grey: #f7f8f9;
$graphite: #232940;

//Supporting colours

$green: #158463;
$red: #c94515;
