.react-international-phone-country-selector {
  display: none !important;
}
.form-input-phone {
  width: 100%;
  padding-left: 1rem !important;
}

.react-international-phone__input {
  padding-left: 1rem !important;
}
